<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792547535206-uhnjhn4b4o5rkqreo3fl2g4d9umha8rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792547535206-uhnjhn4b4o5rkqreo3fl2g4d9umha8rs</string>
	<key>API_KEY</key>
	<string>AIzaSyAV9_lRF44CNNElzjG9fVwGR_nLS0b6jv0</string>
	<key>GCM_SENDER_ID</key>
	<string>792547535206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestures</string>
	<key>PROJECT_ID</key>
	<string>ursberger-gebaerden</string>
	<key>STORAGE_BUCKET</key>
	<string>ursberger-gebaerden.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792547535206:ios:e7ee2694dc0df46d2fc0a7</string>
</dict>
</plist>